<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companion</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@100;300;400;600&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bf2dfa19e.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card p-4 shadow">
            <form method="POST">
                {% csrf_token %}
                <h3 style="text-align:center;">User Registration</h3>
                <br>

                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Create Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Create Password" required>
                </div>
                <input type="submit" value="Register" class="btn btn-success">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none; color:red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
            <br>
            <a href="{% url 'user_login' %}" style="text-align:center; text-decoration:none; color:green;">Already Registered? Log In</a>
            <br>
            <a href="{% url 'index' %}" style="text-align:center; text-decoration:none; color:green;">Back To Home</a>

        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
