{% extends 'user/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">{{company.name}}
            {% if company.verified %}
                <img src="{% static 'img/verified.png' %}" alt="Verified" width="20">
            {% endif %}
        </h5>
        <img src="{{ company.imageURL }}" alt="" height="200px">
      </div>
    </div>

    <div class="row">
        <div class="text-center">
            <p><strong>Contact:</strong> {{ company.mobile_number }}</p>
            <p><strong>About:</strong> {{ company.aboutme }}</p>
        </div>

    </div>

</div>
  
{% endblock %}